.vs/MyGame/FileContentIndex/42db74ce-92c2-4655-9196-1310fdbcf266.vsidx
.vs/MyGame/FileContentIndex/685ef0cf-1378-4b20-8e95-e63ecb37b4e7.vsidx
.vs/MyGame/FileContentIndex/85501710-5b24-4fa2-acbb-afbee436f848.vsidx
.vs/MyGame/FileContentIndex/bbf7ae5e-4570-4052-a67e-4ad914b53faf.vsidx
.vs/MyGame/v17/_BACKUP_932.suo
.vs/MyGame/v17/_BASE_932.suo
.vs/MyGame/v17/_LOCAL_932.suo
.vs/MyGame/v17/_REMOTE_932.suo
bin/Debug/MyGame_BACKUP_1044.pdb
bin/Debug/MyGame_BACKUP_998.exe
bin/Debug/MyGame_BASE_1044.pdb
bin/Debug/MyGame_BASE_998.exe
bin/Debug/MyGame_LOCAL_1044.pdb
bin/Debug/MyGame_LOCAL_998.exe
bin/Debug/MyGame_REMOTE_1044.pdb
bin/Debug/MyGame_REMOTE_998.exe
Classes/Bullet_BACKUP_1126.cs
Classes/Bullet_BASE_1126.cs
Classes/Bullet_LOCAL_1126.cs
Classes/Bullet_REMOTE_1126.cs
obj/Debug/MyGame.csproj.CoreCompileInputs_BACKUP_1148.cache
obj/Debug/MyGame.csproj.CoreCompileInputs_BASE_1148.cache
obj/Debug/MyGame.csproj.CoreCompileInputs_LOCAL_1148.cache
obj/Debug/MyGame.csproj.CoreCompileInputs_REMOTE_1148.cache
obj/Debug/MyGame_BACKUP_1250.exe
obj/Debug/MyGame_BACKUP_1276.pdb
obj/Debug/MyGame_BASE_1250.exe
obj/Debug/MyGame_BASE_1276.pdb
obj/Debug/MyGame_LOCAL_1250.exe
obj/Debug/MyGame_LOCAL_1276.pdb
obj/Debug/MyGame_REMOTE_1250.exe
obj/Debug/MyGame_REMOTE_1276.pdb
